replicate/src/main/java/com/example/replicate/XSDFiles/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee" type="employeeType"/>
  <xs:complexType name="employeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="employeeId"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="salary"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>